﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<body>
    <div class="container-fluid padding">
        <div class="padding">

            <a href="https://localhost:44352/Home/Login">Visit the login page</a>

        </div>
    </div>

            

           




</body>

