﻿@{
    ViewData["Title"] = "Login Page";
}
<h1>@ViewData["Title"]</h1>

<body>


    <form action="https://localhost:44352/Home/Privacy" method="post">

        <div class="container-fluid padding">
            <div class="padding">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <!--FIXME: Still need a landing page after logging in
                Currently just goes to the index/home page-->
                <button type="submit" asp-area="" asp-controller="Home" asp-action="Index">Login</button>

                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>


                <label for="userphonenum">
                    <b>
                        Please Enter your phone number to receive updates.
                    </b>
                    <input type="tel" placeholder="Enter your phone number" name="u_pnum" required />
                </label>
            </div>
        </div>



        <div class="container-fluid" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>

    
     <!--

    <button onclick="Landing/Index" asp-area="" asp-controller="Landing" asp-action="Index">Login</button>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Landing" asp-action="Index">landing Login</a>
    </li>

            -->
</body>