﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Twilio";
}
<h1>@ViewData["Title"]</h1>

<p>Twilio functionality: .</p>